* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}



.cardsBox {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    gap: 16px;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 125px;
    width: 341px;
    border-radius: 4px;
    background-color: #FFFFFF;
    gap: 12px;
    font-size: 22px;
    box-shadow: 2px 2px 5px grey;
    border-bottom: 5px solid;

}

.cardsGreen {
    border-color: green;
}

.cardsRed {
    border-color: red;
}

.cardsOrange {
    border-color: orange;
}

.cardsGreen>p {
    color: green;
}

.cardsRed>p {
    color: red;
}

.cardsOrange>p {
    color: orange;
}

.cards>p {
    font-size: 30px;
}



th,
td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid black;

}

th {
    background-color: #F3F6F9;
}

.filter {
    width: 451px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid;

}

#table {
    width: 960px;
    border-collapse: collapse;
    /* position: relative; */

}

.tableBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn_green {
    width: 56px;
    height: 30px;
    background-color: #178D46;
    color: white;
    border-radius: 4px;
    border: 1px solid;
}

.btn_red {
    width: 89px;
    height: 30px;
    background-color: #FF0000;
    color: white;
    border-radius: 4px;
    border: 1px solid;
}

.btn_filter {
    height: 42px;
    width: 108px;
    border-radius: 4px;
    background-color: #2196F3;
    color: white;
    border: 1px solid;
}

.filterBox {
    margin-left: -390px;
    margin-bottom: 15px;
}

.btn_expense {
    height: 42px;
    width: 199px;
    border-radius: 4px;
    background-color: #2196F3;
    color: white;
    border: 1px solid;
}

.expenseBox {
    margin-top: 20px;
    margin-right: -770px;
}