<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/style.css">
    <title>Aula 12</title>
</head>

<body>
    <div>

        <h1 class="titulo">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem, et.</h1>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, minima quos cumque delectus velit doloremque
            odit
            quis voluptatem. Nobis, rerum. Animi repellendus minus aliquid cumque tempora maxime! Nihil excepturi vel
            dolorem ratione animi. Aliquam, consequuntur ad quidem natus, dolor quo, nihil et omnis aperiam autem
            molestias
            eius at minus. Id amet tempora quo quam reiciendis. <em class="">Suscipit tempora recusandae</em>, quos
            dignissimos impedit
            fuga
            illum. Eveniet exercitationem ipsam iusto ullam vitae eligendi dicta in repudiandae, maxime quaerat ipsum
            magni
            voluptate, similique dolorem ducimus, sed voluptas rerum distinctio aut doloremque fugiat omnis quas
            perferendis? Nulla nisi delectus laborum, optio iste facilis! Enim, consequatur.
        </p>
    </div>

    <div>
        <h1>"Lorem ipsum dolor sit amet"</h1>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus quia porro asperiores assumenda molestiae
            optio recusandae, quisquam nulla possimus ratione est odio, odit dignissimos veritatis exercitationem
            voluptatum eos. Sunt dolorem distinctio corrupti nemo quia ut error enim dolore officia consequuntur,
            inventore saepe voluptates similique modi placeat maxime debitis aut! Quod.</p>
    </div>
</body>

</html>